        #title
        {
            font-size: 30px;
            color: GrayText;
        }

        #gvAir
        {
            margin-right: 20px;
        }

        #gvSkopjePat
        {
            width: 600px;
        }

        .aw-widget-current-inner
        {
            margin-bottom: 15px;
        }

        #legenda_air
        {
            padding-left: 70px;
        }

        .desc > div
        {
            float: left;
        }

        ul
        {
            width: 100%;
            list-style: none;
        }

            ul li
            {
                float: inherit;
            }
        .input-group
        {
            width:100%;
            margin-top:5px;
        }
        #map_legend
        {
            width: 100%;
            list-style: none;
            float: left;
            margin-left: -50px;
        }

            #map_legend li label
            {
                font-size: x-small !important;
            }

            #map_legend img
            {
                width: 45px;
            }

        .aw-alert-info, .aw-six-hours,
        .aw-more-block,
        .aw-more-sep-3,
        .aw-more-sep-2,
        .aw-more-inner,
        .aw-six-hours-inner
        {
            display: none;
        }

        .row
        {
            margin-left:0px !important;
            margin-right:0px !important;
        }


        @media (max-width:1130px)
        {
            ul
            {
                width: 100%;
            }

                ul li
                {
                    display: block;
                    font-size: xx-small;
                    float: left;
                }

            #legenda_air
            {
                width: 100%;
                padding-left: 10px;
            }

            header
            {
                height: 150px;
            }

            #air-table
            {
                overflow: auto;
            }
            /*#air-portlet-body
            {
                height: 400px;
            }*/
        }

        @media (max-width:490px)
        {

            /*#air-portlet-body
            {
                height: 500px;
            }*/
        }

        .blockMsg
        {
            background-color:transparent !important;
            border:none !important;
        }